<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tree</title>
</head>
<style>
    div {
        border: 1px solid black;
    }

    div div {
        margin-left: 20px;
    }
</style>
<body>
<div>1
    <div>1-1
        <div>1-1-1
        </div>
    </div>
    <div>1-2
        <div>1-1-1
        </div>
        <div>1-1-2
        </div>
    </div>
</div>
<div>2
    <div>2-1
    </div>
</div>
<div>3
</div>
</body>
<script>
    var result = this.getChild(document.body);
    console.log(result);

    function getChild(element) {
        var setObject = this.setElement(element);

        var children = element.children;
        var len = children.length;

        for(var i=0; i<len; i++) {
            var setChild = setElement(children[i]);
            setObject.children.push(setChild);

            if(children[i].childElementCount > 0) {
                var temp = this.getChild(children[i]);
                setChild.children.push(temp);
            }
        }

        return setObject;
    }

    function setElement(element) {
        var setObject = {};

        setObject["title"] = element.nodeName;
        setObject["element"] = element;
        setObject["children"] = [];

        return setObject;
    }
</script>
</html>