<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tree</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    table td {
        border: 1px solid black;
    }
</style>
<body>
<select id="selected" onchange="_dataChange(value)">
    <option value="data1">data1</option>
    <option value="data2">data2</option>
</select><br/><br/>

<button onclick="_onAdd()"> 추가</button>
<button onclick="_onDelete()"> 삭제</button>
<button onclick="_onSelectDelete()"> 선택삭제</button>
<br/><br/>

<table>
    <thead>
    <td><input id="ck" type="checkbox" onclick="_onCheck()"></td>
    <td>숫자</td>
    <td>이름</td>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
</body>
<script>
    var data1 = [
        {number: 1, name: '가나다'},
        {number: 2, name: '라마바'},
        {number: 3, name: '사아자'}
    ];
    var data2 = [
        {number: 4, name: 'abc'},
        {number: 5, name: 'def'},
        {number: 6, name: 'ghi'}
    ]

    var selected = document.querySelector('#selected').value;
    this._dataChange(selected);

    function _dataChange(value) {
        var dataSet = eval("this." + value);
        this._dataRefresh(dataSet);
    }

    function _dataRefresh(dataSet) {
        var len = dataSet.length;
        var tbody = document.querySelector("#tbody");

        document.querySelector('#ck').checked = false;
        tbody.innerText = '';

        for (var i = 0; i < len; i++) {
            var tr = document.createElement('tr');

            var checkBox = document.createElement('input');
            checkBox.setAttribute("type", "checkbox");
            checkBox.setAttribute("class", "checkbox");

            var td1 = document.createElement('td');
            td1.appendChild(checkBox);
            tr.appendChild(td1);

            var td2 = document.createElement('td');
            td2.innerText = dataSet[i].number;
            tr.appendChild(td2);

            var td3 = document.createElement('td');
            td3.innerText = dataSet[i].name;
            tr.appendChild(td3);

            tbody.appendChild(tr);
        }
    }

    function _onCheck() {
        var checked = document.querySelector('#ck').checked;
        var checkBox = document.querySelectorAll('.checkbox');
        var len = checkBox.length;

        for (var i = 0; i < len; i++) {
            checkBox[i].checked = checked;
        }
    }

    function _onAdd() {
        var selected = document.querySelector('#selected').value;
        var dataSet = eval("this." + selected);

        randomNumber = Math.floor(Math.random() * 100) + 1;
        randomName = Math.floor(Math.random() * 100) + 1;

        var newObject = {
            number: randomNumber,
            name: randomName
        }

        dataSet.push(newObject);

        this._dataRefresh(dataSet);
    }

    function _onDelete() {
        var selected = document.querySelector('#selected').value;
        var dataSet = eval("this." + selected);

        dataSet.pop();
        this._dataRefresh(dataSet);
    }

    function _onSelectDelete() {
        var selected = document.querySelector('#selected').value;
        var dataSet = eval("this." + selected);

        var checkBox = document.querySelectorAll('.checkbox');
        var len = checkBox.length;

        for (var i = len - 1; i >= 0; i--) {
            if (checkBox[i].checked === true) {
                dataSet.splice(i, 1);
            }
        }

        this._dataRefresh(dataSet);
    }

</script>
</html>